%article.product
  %h1= @product.name

  %p= @product.description

  %strong
    = @product.convert_currency(current_currency,@currency_exchange_data)
    = current_currency

  = link_to 'Shut up and take my money!', '#'

= link_to 'Back to product list', products_path
